@import '@/scss/variables';
@import '@/scss/mixins';

.lessonItem {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    position: absolute;
    text-align: center;
    user-select: none;
    background-color: $snow-white;
    font-family: $EB_Garamond;
}

.headerWrapper {
    width: 100%;
    @include flex-sb-c;
}

.lessonCredentials {
    color: #2D355B99;
    font-size: 1rem;
    font-weight: 500;
    span {
        color: $primary-orange;
    }
}

.lessonContent {
    font-size: 1.4rem;
    margin-top: 23px;
    max-width: 800px;
    text-align: justify;
    font-family: $EB_Garamond; 
    color: $primary-font;
    font-size: 25px;
    font-weight: 700;
}

.buttonWrapper {
    margin-top: 30px;
    @include flex-sb-c;
    gap: 16px;
}