@import '@/scss/variables';

@mixin flex-c-c () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-sb-c () {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin Garamond-Secondary () {
    font-size: 18px;
    font-weight: 600;
}

@mixin Button-Dark () {
    color: white;
    padding: 15px 20px;
    background-color: $pitch-dark;  
    border-radius: 100px;
    font-size: 0.8rem;     
    font-weight: 600;                 
}