// SCSS Colors
$primary-orange: #F4801C;
$background-orange: #FCEED8;
$snow-white: #F8F9FA;

$primary-font: #2D355B;
$secondary-font: #293D5470;

$voting-button: #293D541A;

// SCSS Fonts
$EB_Garamond: var(--font-eb-garamond);
$Inter: var(--font-inter);

// SCSS Font Sizes

$Garamond_Primary: 23px;
$Garamond_Secondary: 19px