// SCSS Colors
$orange-primary: #F4801C;
$orange-secondary:#F4E3D5;
$orange-gradient: linear-gradient(273deg, #F79516 0.67%, #EF6023 194.75%);
$orange-background: #FFE7C5;

$snow-white: #F8F9FA;

$navy-primary: #2D355B;
$secondary-font: #293D5470; //muss ausgetauscht werden wahrscheinlich
$midnight-primary: #161C36;
$grey-primary: #9DA0B2; //Used for fonts

$red-primary: #F10000;
$red-background: #FDDFDF;

$voting-button: #293D541A;

$input-bg: #f0f0f1;

// SCSS Fonts
$EB_Garamond: var(--font-eb-garamond);
$Inter: var(--font-inter);

// SCSS Font Sizes
$Garamond_Primary: 23px;
$Garamond_Secondary: 19px;


//Button Colors



//MenuBar
