@import '@/scss/variables';
@import '@/scss/mixins';

html {
  overflow: hidden;
}

body {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background-color: $background-orange;
  font-family: $Inter;
}

* {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
}