@import '@/scss/variables';
@import '@/scss/mixins';

body {
  display: flex;
  overflow: hidden;
  background-color: $background-orange;
}

* {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
  font-family: 'Inter';
}