@import '@/scss/variables';
@import '@/scss/mixins';

.wrapper {
    position: relative;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.profileImage {
    width: 120px;
    height: 120px;
}

.editButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    @include flex-c-c;
    background-color: $orange-primary;
}