@import '@/scss/variables';
@import '@/scss/mixins';

.lessonContainer {
    position: relative;
    max-width: 600px;
    width: 100%;
    min-height: 400px;
    margin: 0px 3%;
    box-shadow: 0px 4px 15px 6px rgba(129, 102, 61, 0.036);
}

.bgCard {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 50px;
    border-radius: 12px;
    background-color: white;
    opacity: 60%;
}


@media (max-width: 700px) {
    .lessonContainer {
        min-height: 500px;
    }
    .bgCard {
        bottom: -12px;
    }
}

@media (max-width: 480px) {
    .lessonContainer {
        min-height: 400px;
        margin-bottom: 40px;
    }
} 