@import '@/scss/variables';
@import '@/scss/mixins';

.menuWrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
    max-width: 1200px;
    width: 100%;
    height: fit-content;
    background-color: $orange-background;
    display: flex;
    justify-content: center;
    margin: 0 auto; //Ensures that MenuBar is centered for desktop view
}

.menuBar {
    margin-bottom: 8px;
    transform: translateY(-4px);
    @include flex-sb-c;
    width: 96%;
    height: 66px;
    padding: 6px;
    background-color: $snow-white;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 6px rgba(129, 102, 61, 0.06);
}



