@import '@/scss/variables';
@import '@/scss/mixins';

@import '@/scss/variables';
@import '@/scss/mixins';

.lessonCreator {
    @include flex-c-c;
    flex-direction: column;
    gap: 27px;
}

.textAreaWrapper {
    position: relative;
    width: 100%;
}

.textArea {
    width: 100%;
    height: 280px;
    padding: 20px;
    padding-bottom: 70px;
    border-radius: 10px;
    background-color: $input-bg;
    border: 1px solid #e8e8e8;
    font-family: $Inter;
    font-size: 1rem;
    color: $navy-primary;
    line-height: 140%;
    transition: height 0.3s;
    resize: none;

    &::placeholder {
        color: #2d355b67;
    }
}

.errorMessage {
    color: red;
    position: absolute;
    bottom: -13px;
    left: 0px;
    transition: all 0.25s ease-in-out;
    opacity: 0;
    font-size: 0.8rem;
}

.active {
    bottom: -18px;
    opacity: 1;
}

.postButton {
    @include Button('orange');
}


.lengthCounter {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 0.85rem;
    color: orange;
    transition: opacity 0.3s, color 0.8s;
}

.hidden {
    opacity: 0%;
}

.warn {
    opacity: 100%;
}

.stop {
    color: $red-primary;
    opacity: 100%;
}