@import '@/scss/variables';
@import '@/scss/mixins';

.topicList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    a {
        text-decoration: none;
        color: $navy-primary;
    }

}

.card {
    height: 180px;
    width: auto;
    padding: 14px;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    h2 {
        font-size: 1.22rem;
        font-weight: 700;
        position: relative;
        z-index: 1;
        max-width: 170px;
    }

    img {
        position: absolute;
        z-index: 0;
        right: 14px;
        bottom: 14px;
        user-select: none;
        pointer-events: none;
    }
}

.love {
    background-color: #FF5354;
    img {
        bottom: 0px;
    }
}

.friendship {
    background-color: #B7DDFF;
    img {
        bottom: -5px;
    }
}

.mental {
    background-color: #FFB8EF;
    img {
        bottom: 7px;
    }
}

.business {
    background-color: #FFBB82;
}

.education {
    background-color: #B0E57C;
    img {
        bottom: 7px;
        right: 7px;
    }
}

.travel {
    background-color: #AEDFF7;
    img {
        bottom: 7px;
        right: 10px;
    }
}

.fitness {
    background-color: #DFC8C8;
}

.other {
    background-color: $snow-white;
    img {
        bottom: 17px;
        right: 20px;
    }
}


@media (min-width: 690px) {

    .topicList {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        h2 {
            font-size: 1.32rem;
        }

        img {
            width: 110px;
            height: auto;
        }
    }
}


@media (min-width: 1000px) {

    .card {
        img {
            width: 130px;
        }
    }
}