@import '@/scss/variables';
@import '@/scss/mixins';

.home {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $background-orange !important;
    border: 3px solid green;
}
