@import '@/scss/variables';
@import '@/scss/mixins';

.commentLikeButton {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 8px;
    border-radius: 100px;
    cursor: pointer;

    svg {
        @include keyframes ('heartBeat')
    }
}

.liked {
    background-color: $orange-secondary;
    color: $orange-primary;
}