@import '@/scss/variables';
@import '@/scss/mixins';

.registrationBanner {
    max-width: 480px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.googleButton {
    @include Button('outline');
    @include flex-c-c;
    margin-bottom: 10px;
    img {
        width: 25px;
        margin-right: 5px;
        height: auto;
        display: inline;
    }
}

.emailButton {
    @include Button('dark');
}

.contentWrapper {
    @include flex-c-c;
    img {
        width: 20px;
        height: auto;
    }
}