@import '@/scss/variables';
@import '@/scss/mixins';

.lessonButton {
    @include flex-c-c;
    width: 65px;
    height: 65px;
    background-color: $primary-orange;
    border-radius: 100px;
    cursor: pointer;
    transform: translateY(-10px);
}