@import '@/scss/variables';
@import '@/scss/mixins';

.settingsButton {
    border-radius: 6px;
    @include flex-c-c;
    width: 45px;
    height: 45px;
    background: #FDD3A5;
    cursor: pointer;
}