@import '@/scss/variables';
@import '@/scss/mixins';

.signInForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    gap: 10px;
}

.submit {
    @include Button('dark');
    flex-grow: 1;

    &[error] {
        @include keyframes ('wiggle');
    }
}

.register {
    color: $grey-primary;
    text-align: center;
    font-weight: 450;
    font-size: 0.95rem;
    cursor: pointer;
    margin-top: 8px;

    span {
        color: $orange-primary;
        font-weight: 600;
    }
}

.forgotPassword {
    @include flex-c-c;
    justify-content: left;
    gap: 7px;
    margin-top: -15px;
    padding: 15px;
    border-radius: 9px;
    background-color: #FDEDDF;
    color: $orange-primary;
    font-weight: 470;
    cursor: pointer;
}