@import '@/scss/variables';
@import '@/scss/mixins';

.signInForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    gap: 10px;
}

.submit {
    @include Button('dark');
    flex-grow: 1;
}

.register {
    color: $grey-primary;
    text-align: center;
    font-weight: 450;
    font-size: 0.95rem;
    cursor: pointer;
    margin-top: 8px;

    span {
        color: $orange-primary;
        font-weight: 600;
    }
}

.passwordWrapper {
    position: relative;
}

.forgotPassword {
    position: absolute;
    z-index: 9999;
    bottom: -5px;
    right: 0px;
    font-size: 0.8rem;
    text-decoration: underline;
    color: $navy-primary;
}