@import '@/scss/variables';
@import '@/scss/mixins';

.shareButton {
    @include flex-c-c;
    min-width: 40px;
    min-height: 40px;
    border-radius: 100px;
    border: 2.2px solid #DBDBDE;
    cursor: pointer;
}