@import '@/scss/variables';
@import '@/scss/mixins';

.dropdownWrapper {
    @include Post-Button;
    position: absolute;
    left: 10px;
    bottom: 20px;

    p {
        padding-right: 35px;
    }

    span {
        margin-right: 5px;
        font-size: 0.9rem;
    }

    svg {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-45%) rotate(-90deg);
        user-select: none;
        pointer-events: none;
        stroke: white;
    }
}

.default {
    background-color: #D8D9E1;
    color: $midnight-primary;

    svg {
        stroke: $midnight-primary;
    }
}

.categoryDropdown {
    position: absolute;
    inset: 0;
    opacity: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}



