@import '@/scss/variables';
@import '@/scss/mixins';

.categoryIcon {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    @include flex-c-c;
    font-size: 20px;
    user-select: none;
    pointer-events: none;
}

.Love {
    background-color: #F87584;
}

.Mental-health {
    background-color: #E2A2D4;
}

.Friendship {
    background-color: #A2CCF2;
}

.Travel {
    background-color: #73C0E6;
}

.Education {
    background-color: #8EC15D;
}

.Business {
    background-color: #E3B287;
}

.Fitness {
    background-color: #BD9E9E;
}

.Other {
    background-color: #DBDBDE;
}