@import '@/scss/variables';
@import '@/scss/mixins';

.explore {
    width: 100%;
    height: 100svh;
    @include flex-c-c;
}

.logo {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}