@import '@/scss/variables';
@import '@/scss/mixins';

.newPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.submit {
    @include Button('dark');
    flex-grow: 1;

    &[error] {
        @include keyframes ('wiggle');
    }
}
