@import '@/scss/variables';
@import '@/scss/mixins';

.headingContainer {
    padding: 5px 3% 2px 3%;
    margin-bottom: 5px;
}

.gripHandle {
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 41px;
    height: 5px;
    background-color: #DBDBDE;
    border-radius: 100px;
}

.titleWrapper {
    width: 100%;
    @include flex-sb-c;
    margin-bottom: 15px;

    h3 {
        font-size: 1.27rem;
        color: $navy-primary;
        font-weight: 670;
    }
}

.closeButton {
    width: 30px;
    height: 30px;
    @include flex-c-c;
    background-color: #D9D9D970;
    border-radius: 100px;
    cursor: pointer;

    img {
        transform: translateY(1px);
    }
}

.contentWrapper {
    padding: 0 3%;
    padding-bottom: 25px;
}