@import '@/scss/variables';
@import '@/scss/mixins';

.lessonItem {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    position: absolute;
    z-index: 1;
    text-align: center;
    user-select: none;
    background-color: $snow-white;
    overflow: hidden;
}

.headerWrapper {
    width: 100%;
    @include flex-sb-c;
}

.lessonCredentials {
    color: #2D355B99;
    font-family: $Inter;
    font-size: 1rem;
    font-weight: 500;
    span {
        font-family: $Inter;
        color: $orange-primary;
    }
}

.lessonContent {
    font-size: 1.4rem;
    margin-top: 23px;
    max-width: 800px;
    text-align: justify;
    font-family: $EB_Garamond; 
    color: $navy-primary;
    font-size: 25px;
    font-weight: 700;
}

.buttonWrapper {
    margin-top: 30px;
    @include flex-sb-c;
    gap: 16px;
}

@media (max-width: 480px) {
    .lessonItem {
        padding: 15px;
        padding-bottom: 25px;
    }

    .lessonCredentials {
        font-size: 0.95rem;
        font-weight: 450;
    }

    .lessonContent {
        font-size: 1.39rem;
    }

    .lessonContent {
        line-height: 1.7rem;
    }
}