@import '@/scss/variables';
@import '@/scss/mixins';

.resetPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.information {
    color: $grey-primary;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    gap: 10px;
}

.submit {
    @include Button('dark');
    flex-grow: 1;
}