@import '@/scss/variables';
@import '@/scss/mixins';

.overlay {
    background-color: #161c3677;
    position: fixed;
    z-index: 9999;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.opened {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
      background-color: #161c3600;    
    }
    to {
      background-color: #161c3677;    
    }
}

.closed {
    animation: fadeOut 0.5s ease-in-out;
    display: none;
}

@keyframes fadeOut {
    from {
      background-color: #161c3600;    
    }
    to {
      background-color: #161c3677;
   
    }
  }

