@import '@/scss/variables';
@import '@/scss/mixins';

.pageHeading {
    position: fixed;
    z-index: 15;
    max-width: 1200px;
    width: 100%;
    padding: 0 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: 15px;
    opacity: 1;
    transition: opacity 330ms ease;

    .right, 
    .left, 
    .center {
        @include flex-c-c;
        gap: 5px;
    }

    .left {
        justify-content: left;
    }

    .right {
        justify-content: right;
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}